<?xml version="1.0"?>
<!--
/**
 * @category   Magenerds
 * @package    Magenerds_CronProcessCheck
 * @author     Mahmood Dhia <m.dhia@techdivision.com>
 * @copyright  Copyright (c) 2018 TechDivision GmbH (http://www.techdivision.com)
 * @link       http://www.techdivision.com/
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magenerds_CronProcessCheck" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Cron"/>
        </sequence>
    </module>
</config>